/*stílusok külső fileban*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: khaki;
}

.container {
    background: lightblue;
    margin: 10px auto;
    width: 800px;
    /*border:1px solid black;*/
    /* padding: 1px;*/
    /*overflow: hidden;*/
}

.myBox {
    margin: 50px 0;
    background: pink;
    text-align: center;
}
.item {
    width: 150px;
    height: 150px;
    border:1px solid grey;
    display: inline-block;
    margin: 10px;
}
