* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    /*background-color: rgb(238,238,170);
    background-image: url("https://picsum.photos/400");
    background-repeat: no-repeat;
    !*background-position-x: center;
    background-position-y: center;*!
    background-position: center center;!* x y*!*/
    background: #eea url("https://picsum.photos/1920/1200") center center no-repeat;
    background-size: cover;
}

.container {
    border: deeppink 5px solid;
    /*min-height: 400px;*/
}

.container > div {/*minden div elem ami közvetlenül egy container osztályu elemen belül van*/
    background: #fff;
    border: 1px solid cornflowerblue;
    color: orangered;
    font-size: 20px;
    padding: 10px;
}

.container > div:nth-child(1) {
    background-color: #7ca;
}
.container > div:nth-child(2) {
    background-color: #f76;
    color:yellow;
}

.container > div:last-child {
    background-color: #477;
}
