@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@700&display=swap');

:root {
    --main-font: 'Open Sans', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --theme-color: #ffb32f;
    --dark-color: #212529;
    --base-font-color: rgb(129, 129, 129);
    --mid-grey: #e1e1e1;
    --light-grey: rgb(247, 247, 247);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    color: var(--base-font-color);
    font-size: 16px;
    line-height: 1.5em;
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: 900;
    color: var(--dark-color);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    font-weight: 300;
}

.sectionTitle p {
    font-weight: 500
}


section {
    /*min-height: 500px;*/
}

main > section {
    padding-top: 65px; /*cimblokkok eltolása a sticky menü előkészítéséhez*/
}

.grid-container {
    display: grid;
    grid-gap: 1em;
}

.grey-bg {
    background-color: var(--light-grey);
}

/**gombok**/
.btn {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    background: var(--light-grey);
    font-weight: bold;
    color: var(--dark-color);
    cursor: pointer;
    border: 1px solid var(--mid-grey);
    font-size: .9em;
    outline: none;
    margin: 1em 0;
    transition: all 500ms ease-in-out;
}

.btn:hover {
    background: var(--dark-color);
    color: var(--white);
    border-color: var(--dark-color);
}

.btn-primary {
    background: var(--theme-color);
    color: var(--white);
    border: none;
}

.sectionTitle {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    color: var(--dark-color);
    padding-bottom: 2em;
}

.sectionTitle > h2 {
    text-transform: uppercase;
    margin: .25em auto .75em;
}

.sectionTitle > span {
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--theme-color);
    display: inline-flex;
    align-items: center;
}

.sectionTitle > span:before,
.sectionTitle > span:after {
    width: 2em;
    content: '';
    height: 2px;
    display: block;
    margin: 0 20px;
    background-color: var(--theme-color);
}

.container {
    /*background: khaki;*/
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
    flex-direction: column;
}

/*mobile first*/
/*fejléc+menü*/
.main-header {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, .3);
    position: absolute;
    width: 100%;
    padding: 0.5em;
    box-shadow: 0 0 15px rgba(0, 0, 0, .35);
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    z-index: 9999;
}

/*sticky header*/
.sticky {
    background: var(--white);
    position: fixed;
}

.sticky .main-menu a {
    color: var(--dark-color);
    text-shadow: none;
}

.sticky .menu-toggle {
    color: var(--dark-color);
}

/*Main Menu*/
.main-header > .container {
    position: relative;
}

.menu-toggle {
    position: absolute;
    right: 25px;
    top: 5px;
}

/*.menu-toggle:focus + .main-menu {
    display:flex;
}*/
.main-menu {
    display: none;
}

.main-menu a {
    color: var(--white);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    display: block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 450ms ease-in-out;
}

.main-menu a:hover {
    color: var(--theme-color);
    border-color: var(--theme-color)
}

.main-menu li {
    margin-left: 15px;
}


/*HERO blokk*/
.hero {
    background: pink url("https://picsum.photos/1920/1200") center top no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    overflow:hidden;
}

.hero h1,
.hero h2,
.hero p {
    color: var(--white);
    margin: 15px 0;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    line-height:1em;
}

.hero p {
    max-width: 750px;
}

.hero > .container > span {
    font-size: 1.5em;
    font-weight: bold;
}

.hero .anim {
    color: var(--theme-color) !important;
}

/*SKILL footer*/
#skill > footer {
    background-color: var(--dark-color);
    color: var(--white);
    padding: 2em 0;
}

#skill > footer > .flex {
    justify-content: space-around;
}

#skill > footer > .flex > .box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: capitalize;
    margin: 1em 0;
}

#skill .quantity {
    color: var(--theme-color);
    margin: 0.5em auto;
    font-family: var(--title-font);
}

#skill .quantity > span {
    font-family: var(--main-font);
}

/*Services szekció*/
#services .box {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#services .box > header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--mid-grey);
    font-weight: 900;
    color: var(--mid-grey);
    font-size: 3em;


    overflow: hidden;
}

#services .box > header .nr {
    display: inline-block;
    line-height: 1em;
    letter-spacing: -3px;

    position: relative;
    top: 0.55em;
    transition: top 250ms ease-in-out;
}

#services .box:hover > header .nr {
    top: 0;
}

#services .box h3 {
    text-transform: uppercase;
    color: var(--dark-color);
    margin: 1em;

}

#services .box .icon {
    padding: 1.5em;
    background: var(--theme-color);
    color: var(--white);
    font-size: 1.5em;

    transition: transform 250ms ease-in-out;
}

#services .box:hover .icon {
    transform: scaleX(-1);
}

#services .box p {
    margin: 1em;
}

/*Blog szekció*/
#blog header {
    position: relative;
}

#blog .comments {
    position: absolute;
    top: .5em;
    right: .5em;
    background: var(--theme-color);
    color: var(--white);
    padding: .25em .5em;
}

#blog .box > h2 {
    flex: 1;
}

#blog footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-color);
    font-weight: bold;
}

#blog footer .author {
    display: flex;
    align-items: center;

    background: var(--dark-color);
    color: var(--white);
    padding: 5px;
    border-radius: 100px;
}

#blog .author span {
    margin: 0 5px
}

#blog .author a {
    color: var(--light-grey);
}

#blog footer .author > img {
    width: 50px;
    border-radius: 50px;
    line-height: 0;
}

/**CONTACT szekció**/
label {
    display: flex;
    flex-direction: column;
}

.contact-form > button {
    justify-self: start;
    align-self: end;
}

.info > li {
    padding-bottom: 1em;
}

.info > li > b {
    display: block;
    text-transform: capitalize;
    color: var(--dark-color);
}

.info a {
    color: var(--main-font);
}

.social a {
    color: var(--dark-color);
    font-size: 1.5em;
    margin-right: .5em;
    display: inline-block;
    transition: all 500ms ease-in-out;
}

/*.info > li > b:first-letter {
    text-transform: uppercase;
}*/

.social a:hover {
    color: var(--theme-color);
    transform: scaleX(-1);
}

/*Contact input elemek*/
input, textarea {
    padding: 0.5em;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--mid-grey);
    font-family: var(--main-font);
    font-size: 1.1em;

    transition: border 500ms ease-in-out;
}

textarea {
    min-height: 250px;
}

::placeholder {
    color: var(--mid-grey);
}

textarea:focus,
input:focus {
    border-bottom-color: var(--dark-color);
}

/*nekem nincsenek külön input mező címek*/
#contact label > span {
    display: none;
}

/* --------------------------------

        Primary style

        -------------------------------- */
.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-style: normal;
}
.cd-words-wrapper i {
    font-style: normal;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* --------------------------------

xpush

-------------------------------- */
.cd-headline.push b {
    opacity: 0;
}
.cd-headline.push b.is-visible {
    opacity: 1;
    -webkit-animation: push-in 0.6s;
    -moz-animation: push-in 0.6s;
    animation: push-in 0.6s;
}
.cd-headline.push b.is-hidden {
    -webkit-animation: push-out 0.6s;
    -moz-animation: push-out 0.6s;
    animation: push-out 0.6s;
}

@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -o-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}
@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -o-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/*portfolio grid*/
.grid-wrap {
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    background-color: rgba(76, 77, 79, 0.6);
    min-height: 220px;
}

.grid-wrap .item {
    overflow: hidden;
    display: none;
    transform: scale(.2, .2);
}

@keyframes enter {

    0% {
        transform: scale(.2, .2);
    }
    100% {
        transform: scale(1, 1);

    }
}


.grid-wrap .item .tools {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 77, 79, 0.8);
    -webkit-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 48px 0 rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.grid-wrap .item .tools a {
    color: #fff;
    opacity: 0.7;
    display: block;
    padding: 18px 32px;
    font-size: 24px;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.grid-wrap img {
    height: 220px;
    width: 100%;
    /*height: auto;*/
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.grid-wrap .item:hover .tools {
    visibility: visible;
    opacity: 1;
}

.grid-wrap .item:hover .tools a {
    padding: 18px 16px;
}

.grid-wrap .show {
    display: block;
    animation: enter .3s forwards;
}

/*tablet*/
@media screen and (min-width: 640px) {
    .container {
        width: 90%;
    }

    /*SKILL FOOTER*/
    #skill > footer > .flex {
        flex-direction: row;
    }

    .grid-container.grid-1-1 {
        grid-template-columns: 1fr 1fr;
    }

    .grid-container.grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }

    .grid-tablet-1-1-1 {
        grid-template-columns: repeat(3, 1fr);
    }

    /**CONTACT szekció**/
    .contact-form > label:nth-child(3),
    .contact-form > label:nth-child(4) {
        grid-column: span 2;
    }
}

/*desktop*/
@media screen and (min-width: 1230px) {
    .container {
        width: 1200px;
    }

    .flex {
        flex-direction: row;
        align-items: center;
    }

    .grid-container.grid-1-1-1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-menu {
        flex: 1;
        justify-content: flex-end;
        display: flex !important;
    }

    .menu-toggle {
        display: none;
    }

}


