/*CSS szabályok*/

body {
    background-color: khaki;
}
header {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
/*
selector1 selector2 {
  minden selector2 elemre érvényes ami egy selector1 elemen belül van akármilyen szinten
}
selector1 > selector2 {
  minden selector2 elemre érvényes ami egy selector1 elemen belül van közvetlenül
}

*/
.main-menu > li {
    display: inline;

}
.main-menu > li > a {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}
/*
selector:pseudo {
    pseudo teljesülése esetén, ha az esemény, vagy pseudo elemre érvényes
}
*/
.main-menu > li > a:hover {
    color: orange;
    text-decoration: underline;
}
